main {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 700px;
}
.grid-div {
  border: 2px solid purple;
  width: 40px;
  height: 40px;
}
